.menu-list{

  background-color:rgb(63,81,181);
  cursor:pointer;
  color:white;
}

.search-input{

  margin-top:40px;
  font-size: 20px;
}

.search-first-input{

  margin-left:20px;
}

.search-input label{

  color:white;
}

.search-input input{

  color:white;
}

.noclients{

  padding:20px;
  width:100%;
}

.client-row{
  padding:10px;
  padding-left:20px;
}


.toast-success .md-toast-content{
  background-color: green!important;
}


.addclient button{

  margin-top:-20px;
}

#menu-logo{

  background-image: url("/res/img/dataart.png");
  background-size: 100px 100px;
  width: 100px;
  height:100px;
  margin:auto;
  background-position: center;
}
